/* StatDisplayCards.css */

.stat-display-cards-container {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  opacity: 1;
  animation: fadeIn 0.7s ease-in;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 300px;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

